altair
numpy
pandas
pydeck
streamlit
langchain
langchain-openai
langchain-anthropic
langchain-community
scenedetect[opencv]
elevenlabs
pyloudnorm
fuzzysearch
torch
torchaudio
moviepy
onnxruntime
readtime
streamlit-aggrid
st-annotated-text
streamlit-image-select
streamlit-profiler==0.2.2
google-cloud-storage
google-cloud-aiplatform
pillow
pycountry
pyinstrument
psutil