numpy
pandas
streamlit
langchain
langchain-openai
langchain-anthropic
langchain-community
scenedetect[opencv]
elevenlabs
pyloudnorm
fuzzysearch
moviepy==1.0.3
readtime
streamlit-aggrid
st-annotated-text
streamlit-image-select
streamlit-profiler==0.2.2
streamlit-elements==0.1.*
google-cloud-secret-manager
google-cloud-storage
google-cloud-aiplatform
pillow
pycountry
pyinstrument
psutil
wheel
deepgram-sdk
pydantic
